@charset "UTF-8";

/* ボディー */
body {
  background-color: pink;
}

.wrap {
  width: 600px;
  margin: 0 auto;
  padding: 20px 0 100px 0;
  background: #f1f1f2;
  min-height: 100vh;
}
ul {
  padding-inline-start: 0px;
}
li {
  position: relative;

  padding: 10px 20px;
  margin: 0 10px 10px 10px;
  background-color: #fff;
  border-radius: 5px;
  list-style: none;
}
span {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 12px;
  color: #ccc;
}
form {
  position: fixed;
  top: 10%;
  left: 1vw;
}
